@font-face {
  font-family: VeraMono;
  src: url(/assets/VeraMono.ttf);
}

@font-face {
    font-family: MySerif;
    src: url(/assets/LinguisticsPro-Regular.otf);
}

@font-face {
    font-family: Titles;
    src: url(/assets/Gaegu-Regular.ttf);
}

body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #ffffff;
}

.titleWrapLink {
    text-decoration: none;
    color:black;
}

.top-section {
    display: block;
    height: 4.5em;
    border-top-color: black;
    border-bottom: solid .1em;
    border-bottom-color: black;
    background-color: #fffdea;
}

.titleWrap {
    position: relative;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 0;
    padding-left: 1em;
    overflow: hidden;
}

.title {
    font-family: Titles;
    font-size: 2.2em;
    color: black;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.title:hover {
    color: #606060;
}

.nav {
    display: block;
    float: right;
    padding-top: 0;
    font-family: MySerif;
    font-size: 1.1em;
    color: black;
}

.nav ul {
    list-style: none;
    padding-left: 1em;
}

.nav li {
    float: left;
    display: block;
    padding-top: .5em;
    padding-right: 1em;
}


.nav li a {
    text-decoration: none;
    color: black;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.nav li a:hover {
    color: #606060;
}

.message {
    width: 50vw;
    display: table;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-family: MySerif;
    font-size: 1em;
    color: black;
    background-color: #e0eaff;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: solid .1em;
}

.message h1 {
    margin-bottom: .3em;
    font-family: Titles;
}

.message h2 {
    font-family: Titles;
    font-size: 1.5em
}

.message p {
    line-height: 1.4em;
}

.message img {
    width: 50%;
    display: table;
    margin: 0 auto;
    padding-bottom: 1em;
}

.message a {
    color: black;
}

.header-line {
    display: block;
    height: 0;
    border-top: solid 1px;
    width: 100%;
}

.objectWindowContainer {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.objectWindow {
    width: 100%;
    height: 30vw;
    display: block;
    --poster-color: #e0eaff;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .top-section {
        width: 86vw;;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 6vw;
        margin-top: 2.7vw;
        height: 20vw;
        border: solid .1em;
    }
    .title {
        font-size: 8vw;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
    }
    
    .titleWrap {
        padding-left: 0;
        margin-left: 2.5vw;
        margin-bottom: 0;
        padding-top: 2vw
    }
    
    .nav {
        float: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .nav ul {
        display: block;
        height: 1em;
        padding-top: 0;
        padding-left: 0;
        margin-left: 2.5vw;
        margin-top: 0;
    }
    
    .nav li {
        padding-top: 1vw;
        margin-top: 0;
        font-size: 3.2vw;
    }
    
    .message {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 3vw;
        padding-right: 3vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.7vw;
        margin-bottom: 2.7vw;
        width: 86vw;
    }
    
    .message p {
        font-size: 3vw;
    }
    
    .message h1 {
        margin-top: 0;
        font-size: 6vw; 
    }
    
    .message h2 {
        font-size: 4vw;
    }
    
    .message img {
        width: 90%
    }
    
    .objectWindowContainer {
        width: 100%;
        display: block;
    }
    .objectWindow {
        height: 50vw;
    }
}
